<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us - <%= title %></title>
</head>
<body>
  <header>
    <h1><%= header %></h1>
    <nav>
        <a href="/">Home</a> | <a href="/contact">Contact</a>
    </nav>
  </header>
  <main>
    <img src="/winter2.jpeg" alt="Sample Image">
    <form action="/download-image" method="POST">
      <button type="submit">Download Image</button>
    </form>
    <h2>Contact Us</h2>
    <p>Please fill out the form below to get in touch:</p>
    <form>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name">
      <button type="submit">Submit</button>
    </form>
  </main>
</body>
</html>
