<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <header>
    <h2><%= header %></h2>
    <nav>
        <a href="/">Home</a> | <a href="/contact">Contact</a>
    </nav>
  </header>
  <main>
    <p>Welcome to the <%= title %>!</p>
    <p><%= content %></p>
  </main>
  <img src="/winter1.jpeg" alt="Sample Image">
  <form action="/download-image" method="POST">
    <button type="submit">Download Image</button>
  </form>
</body>
</html>